doctype 5
html(lang="en")
  head
    title Meme Stocks
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  body
    img(src ='/images/logo.png')
    img(src= '#{memePic}')
    #content
      h2 This week's top performing memes
      ol
        !{topOfThePops}
      h2 Meme Tip of The Week
      p !{advice} 
    