
<!DOCTYPE html>
<html lang="en">
<head>
<title>Meme Stocks</title>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css"></head>
<body>
<img src="/images/logo.png">
<img src="http://cdn.memegenerator.net/images/400x/6541210.jpg">
<div id="content">
<h2>This week's top performing memes</h2>
<ol>
    <li>Grumpy Cat 1</li>
    <li>First world Problems II</li>
    <li>Bad luck Brian meme</li>
    <li>What If I Told You Meme</li>
    <li>I Dont Always</li>
    </ol>
<h2>Meme Tip of The Week</h2>
<p>Use <em>First world Problems II</em> with caution. </p></div></body></html>