body {
  width: 384px;
      padding: 0px;
      margin: 0px;
}

img {width: 384px;
	display:block;
		}

#content {
	margin-left: 8px;
	font-family: times, serif;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;}

p {margin-top: 5px;
	margin-left: 0px;}

h2 {
	font-family: helvetica, sans-serif;
	font-size: 22px;
	margin: 0px;
	margin-top: 5px;
}

ol {margin-top: 5px;
	margin-bottom: 0px;}