body {
  width: 384px;
      padding: 0px;
      margin: 0px;
}

img { width: 384px;
	display:block;
		}

#content {
	margin-left: 7px;
	font-family: 'Arial', serif;
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 3px;
	}

p {margin-top: 5px;
	margin-left: 0px;
	margin-bottom: 2px;
	}

h2 {
	font-family: 'Times', sans-serif;
	font-size: 36px;
	margin: 0px;
	margin-top: 5px; }

ol {font-family: 'Arial', sans-serif;
	margin-top: 5px;
	margin-bottom: 0px;}

li { font-weight:bold;  }

.text { font-weight:normal !important; }

.masthead {border-bottom-style:solid;
		border-bottom-width:2px;}

.date {font-size: 16px; 
		float: right;
		padding: 3px;
		}


.location {font-size: 16px;
			float: left;
			padding: 3px;
			}

strong {font-style: italic;}